.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
 
}

h1 {
  text-align: center;
  font-family: "Oranienbaum", serif;
  letter-spacing: 5.184px;
  font-weight: 400;
  font-size: 154px;
  line-height: 128px;
  margin-top: 41px;
}
.p1 {
  font-family: "Oranienbaum";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 357px;
  position: absolute;
  top: 290px;
  left: 25%;
  right: 25%;
}
.firstimage {
  height: 1494px;
}
.image1 {
  text-align: center;
  margin-top: 444px;
}

.p2 {
  font-family: "Oranienbaum";
  font-size: 56px;
  line-height: 67px;
  margin-left: 160px;
  margin-right: 199px;
}

.p3{
  font-family: "Rubik";
  font-size: 28px;
  line-height: 36px;
  text-align: left;
  vertical-align: top;
}

.third-blok{
  height: 784px;
  margin-right: 160px;
  margin-left: 744px;
  margin-top: 95px;
}
.secondimage{
  margin-top: 97px;
  height: 700px;
  text-align: center;
}

.p4 {
  font-family: "Oranienbaum";
  font-size: 56px;
  line-height: 67px;
  margin-left: 160px;
  margin-right: 199px;
  letter-spacing: 1.4px;
}
.flex-blok img{
 width: 536px;
 height: 400px;
 margin-right: 24px;
 margin-left: 24px; 
 margin-bottom: 48px;
 
 
}
.flex-blok {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;

}

li{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid black;
  height: 17px;
  margin-right: 16px;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  text-align: center;
}